* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* todo change font */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

a {
    font-size: 30px;
    padding: 10px;
    display: block;
}

img {
    width: 75%;
    display: block;
    padding: 10px;
}