.welcome {
    position: relative;

    img {
        width: 100%;
        z-index: 0;
    }

    .name {
        position: absolute;
        color: white;
        z-index: 10;
        left: 0;
        right: 0;
        margin-inline: auto;
        width: fit-content;
        font-size: 12vw;
        letter-spacing: 0.15em;
    }

    #j{
        top: 7vw;
    }

    #p {
        top: 23vw;
    }

    .intro {
        position: absolute;
        color: white;
        z-index: 10;
        left: 0;
        right: 0;
        margin-inline: auto;
        width: 30vw;
        bottom: 100px;
        font-size: max(12px, 1.25vw);
    }
}

.showcase {
    img, .text {
        display: inline-block;
        max-width: 40%
    }

    img {
        float: right;
        margin-right: 5vw;
        margin-bottom: 5vw;
        box-shadow: 0 0 10px gray;
        transition: 0.1s;
    }

    img:hover {
        filter: brightness(60%);
        transform: scale(0.99);
    }

    .otherside img {
        float: left;
        margin-right: 0;
        margin-left: 5vw;
    }

    .otherside .text {
        float: right;
        margin-right: 5vw;
        margin-left: 0;
    }

    .text {
        float: left;
        margin-left: 5vw;
        margin-bottom: 5vw;

        a {
            font-size: 4vw;
            margin-bottom: 2vw;
        }

        p {
            font-size: max(12px, 1.25vw);
        }
    }

    .part {
        clear: both;
        margin-top: 5vw;
    }

    #break {
        clear: both;
        height: 2px;
        width: 70vw;
        background-color: black;
        margin-left: auto;
        margin-right: auto;
    }
}