.title {
    margin-top: 7vw;
    h1 {
        font-size: 5vw;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }

    p {
        margin-top: 1vw;
        font-size: max(12px, 1vw);
        width: 50vw;
        margin-left: auto;
        margin-right: auto;
    }
}

#divider1 {
    margin-top: 10vw;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    height: 2px;
    background-color: black;
}

.piece {
    margin-top: 10vw;

    img {
        margin-left: auto;
        margin-right: auto;
        display: block;
        height: 80vh;
        box-shadow: 0 0 10px gray;
    }

    h2 {
        text-align: center;
        font-size: 2vw;
        margin-top: 1vw;
    }

    p {
        margin-top: 1vw;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
}

footer {
    margin-top: 10vw;
}