@font-face {
    font-family: 'Gontserrat-Regular';
    src: url('assets/Gontserrat-Regular.ttf');
}

html {
    font-family: 'Gontserrat-Regular', sans-serif;
}

.label {
    display: inline;
    font-size: 1.3em;
}

#generate {
    display: block;
    background-color: black;
    scale: 1.5;
    border: none;
    padding: 1em;
    border-radius: 1em;
    color: white;
    cursor: pointer;
}

#boardContainer {
    display: grid;
    border: 3px solid black;
    
    @media screen and (max-width: 800px) {
        width: min(90vw, 75vh) !important;
        height: min(90vw, 75vh) !important;
    }

    width: min(50vw, 50vh);
    height: min(50vw, 50vh);
}

#logo, #bigContainer, #sliderDiv, #generate {
    margin: auto;
}

#logo {
    width: 50vw;
    display: block;
    margin-top: 3vw;
    margin-bottom: 3vw;

    @media screen and (max-width: 800px) {
        width: 75vw !important;
    }
}

#bigContainer {
    width: fit-content;
    position: relative;
}

#textContainer {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 100%;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#sliderDiv {
    width: fit-content;
    margin-top: 2em;
    margin-bottom: 2em;
}


.cell {
    cursor: pointer;
    transition: 2s;
}


#slider {
    accent-color: rgb(255, 58, 58);
    cursor: pointer;
}